@import "tailwindcss";
<<<<<<< HEAD

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.25s ease-out;
}
=======
>>>>>>> fc426fb827dcce4ca8604861e5fa1c915a8b4728
